body {
	background-image: url(../img/bg.jpg);
	padding-top: 40px;
}

#avatar {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#togglePwVisibility {
	cursor: pointer;
}
input[type="text"].password {
	color: #999;
	font-style: italic;
}

#login {
	background-color: rgba(255,255,255,0.6);
	padding: 20px;
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.3);
	box-shadow: 0 3px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 30px 0 30px 0;
	-moz-border-radius: 30px 0 30px 0;
	border-radius: 30px 0 30px 0;
}

#nav-left > * {
	margin-left: 10px;
}
#charge-panel > * {
	margin-right: 10px;
}
#userinfo-table.table {
	background-color: #fff;
}

.main.container {
	background-color: #fff;
	margin-top: 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-top: 20px;
}

.modal.small {
	width: 280px;
	margin-left: -140px
}
.pwd-visible {
	ime-mode:disabled;
}